<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddr.example.com.newretailandroidclient">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--悬浮窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 网络权限-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="ddr.example.com.newretailandroidclient.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.HomeActivity"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <!--程序入口-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录页面-->
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.LoginActivity"
            android:screenOrientation="landscape"
            ></activity>

        <!-- 崩溃界面 -->
        <activity
            android:name="ddr.example.com.newretailandroidclient.ui.activity.CrashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:process=":crash"
            android:screenOrientation="portrait" />
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.CollectingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.MapEditActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.RelocationActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.MapSettingActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.DeviceSelectActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="ddr.example.com.newretailandroidclient.ui.activity.AllRetailActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>